body {
  background-color: var(--bg-primary);
}

main {
  background-color: var(--bg-secondary);
  width: 80%;
  margin: 30% auto 3.5em;
  padding: 2em 2em;
  border-radius: 1em;
  color: var(--primary);
}

.skills {
  margin: auto 1.25em;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.skill {
  font-size: 1.25rem;
}

fieldset {
  border: none;
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

fieldset svg {
  margin-right: 1em;
}

hr {
  border-bottom: 2px dotted white;
  margin: 2em 0;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 1em 1.25em 0;
}

svg {
  fill: white;
}

fieldset svg {
  height: 100%;
}

.links svg {
  fill: white;
  height: 2rem;
}

@media only screen and (min-width: 992px) {
  main {
    margin-top: 10%;
    width: 50%;
  }

  .skills {
    margin-left: 30%;
  }

  .links {
    margin: 2em 30% 0;
  }
}
