body {
  background-color: var(--bg-primary);
}

.non-nav {
  position: absolute;
  display: block;
  height: 92%;
  width: 100%;
  top: 0;
  align-content: center;
}

main {
  background-color: rgba(from var(--bg-secondary) r g b / 70%);
  margin: auto 2em;
  padding: 1.5em;
  border-radius: 1em;
  color: white;
}

a,
a:visited {
  color: var(--primary);
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .non-nav {
    top: 13%;
    bottom: 0;
  }

  main {
    position: relative;
    left: 0;
    width: 50%;
    margin: 20% auto;
    padding: 2em 1.5em;
    text-align: center;
  }
}
