body {
    background-color: var(--bg-primary);
}

main {
    background-color: var(--bg-secondary);
    width: 80%;
    margin: 40% auto 20%;
    padding: 1.5em;
    border-radius: 1em;
    color: white;
}

a {
    color: var(--primary);
}