* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light-blue: #23FFF2;
$dark-gray: #40464B;
$light-gray: #4D5359;

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  height: auto;
  min-height: 100%;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  background-color: $dark-gray;
}

.content, .splash, .nav-bar {
  background-color: $light-gray;
  border-radius: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 15em;
  margin: 0 auto;
  justify-content: space-between;
  a {
    width: 3em;
    height: 3em;
    display: block;
  }
  svg {
    fill: white;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5em auto;
  width: 60%;
  padding: 1.5em;
  border-radius: 1em;

  a, a:visited {
    color: white;
    font-style: italic;
    font-size: 1.5rem;
  }

  .active a {
    color: $light-blue;
    font-weight: bold;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }
}

.content {
  width: 60%;
  padding: 1.5em;
  margin: 2em auto;
  font-size: 1.5rem;
  color: white;
  border-radius: 1em;

  h1, h3 {
    color: $light-blue;
    font-size: 1.4em;
  }

  p {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.6em;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  a:visited {
    color: inherit;
  }
}

.splash {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 1.5em;
  color: $light-blue;

  h1 {
    margin-bottom: 1.5em;
  }

  h2 {
    margin: 2em;
  }

  hr {
    border-top: 2px dotted white;
  }
}
